
spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://mariadb:3306/msa
    username: root
    password: '{cipher}b3718fadcfa8e1de0155ee31f74d1ad2f4d87ced6019870803424a978f9462c2'
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
